<h1>ユーザー 一覧画面(管理者)</h1>
<body>
<table>
<head>
<th>名前</th>
<th>メールアドレス</th>
</head>
<% @users.each do |t| %>
  <tr class="task_row" >
  <td><%= t.name %></td>
  <td><%= t.email %></td>
  </tr>
<% end %>
</table>
</body>